@import url("pygment.css");
#menu li{
font:150% Helvetica,Arial,sans-serif;
display:inline;
margin-left:30px;
}
#menu{
color:rgb(33, 34, 36);
background-color:rgb(237, 244, 237);
padding-top:20px;
padding-bottom:20px;
}
#menu a:link,#menu a:visited{
color:rgb(0, 119, 34);
}

a{
text-decoration:none;
}

body,ul,li,a{
border:0px;
margin:0px;
padding:0px;
}

ul{
list-style:none;
}
#post-list .hentry{

}
body{
width:960px;
margin:auto;
}
#contentinfo{
border-top:1px dashed rgb(229,229,229);
color:rgb(153,153,153);
font-size:12px;
padding-top:10px;
padding-bottom:10px;
}
.post-info{
/* float:left; */
}
.entry-body{
min-height:141px;
padding-bottom:30px;
margin-bottom:30px;
border-bottom:1px solid rgb(229, 229, 229);
}
#content{
margin-top: 30px;
margin-bottom:20px;
width: 700px;
float:left;
margin-left: 10px;
/* padding-right:15px; */
}
.post-date {
/* width: 56px; */
/* height: auto; */
/* text-align: center; */
margin-right: 20px;
/* margin-bottom: 15px; */
/* background: rgb(157, 206, 223); */
/* text-shadow: 0px 1px rgb(129, 188, 209); */
/* border-radius: 80px; */
/* padding: 10px 30px; */
/* border: 4pt solid rgb(255, 255, 255); */
/* box-shadow: 0 0px 3px rgb(183, 183, 183); */
/* display:block; */
}
.post-day{
font-size: 36px;
color: rgb(255, 255, 255);
margin: 10px 0 15px 0;
display:block;
}
.post-month{
color:white;
display:block;
}
.post-year{
color:white;
display:block;
padding-top:10px;
border-top:solid 1px;
}
body{
font-family: sans-serif;
color: rgb(51, 51, 51);
line-height:20px;
}

#content-side{
float:right;
width: 220px;
/* padding:9px; */
margin-left: 20px;
margin-right: 10px;
}
#taglist{
padding:15px 10px 15px 10px;
}
.extra {
clear: both;
text-align: right;
}
/*images*/
img{
max-width:400px;
padding: 10px;
border: solid 1px rgb(200, 200, 200);
margin-top: 10px;
}
/*code block decoration*/
pre {
background-color: rgb(238, 238, 238);
padding: 10px;
border: 1px solid rgb(204, 204, 204);
border-radius: 4px;
}
/*pagination*/
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
z-index: 2;
color: rgb(255, 255, 255);
cursor: default;
background-color: rgb(66, 139, 202);
border-color: rgb(66, 139, 202);
}
.pagination>li>a {
float: left;
padding: 6px 12px;
margin-left: -1px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(221, 221, 221);
}
.pagination>li>a:hover {
background-color: rgb(238, 238, 238);
}
.pagination>li:first-child>a {
margin-left: 0;
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
}
.pagination>li:last-child>a {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
color: rgb(153, 153, 153);
cursor: not-allowed;
background-color: rgb(255, 255, 255);
border-color: rgb(221, 221, 221);
}
.entry-content ul {
list-style:outside disc;
margin:0em 0 0 1.5em;
}

a:hover {
    color: rgb(98,166,228);
}
a{
    color: rgb(80, 80, 80);
}
